.tweet-area{
      border: none;
    border-bottom: 0.9px solid rgb(211, 211, 211, 0.3);
   /* border-right: 0.9px solid rgb(211, 211, 211, 0.3); */
  
    padding: 10px 16px 2px 16px;
}

.tweet-area-text-area{
    border: none;
    outline: none;
    padding: 12px 0;
    padding-bottom: 60px;
    font-size: larger;
    resize: none; 
}