#tweet.card {
  border: none;
  border-radius: 0;
  border: 1px solid rgb(211, 211, 211, 0.3);
  /* border-right: 0.9px solid rgb(211, 211, 211, 0.3); */
  overflow: hidden;

}

@media (max-width: 576px) {
  .card-body{
    flex-direction: column;
    display: static;
  }
}

#tweet .card-text {
  font-size: 1rem;
}
/* 
#tweet .tweet-image {
  height: auto;
  max-width: 100%;
} */

/* #tweet .tweet-image-bg {
  background-color: black;
  border: 0.9px solid rgb(211, 211, 211, 0.3);
  border-radius: 16px;
  margin: 12px 0;
  overflow: auto;
  text-align: center;
} */
